.product-item-review-button {
	padding: 15px;
	cursor: pointer;
}

.transactions-button {
	padding: 15px;
	cursor: pointer;
}

.checkout-button {
	padding: 15px;
	cursor: pointer;
}

.primary {
	border: 2px solid #BF4722;
	color: #BF4722;
	background-color: white;
	font-size: medium;
	letter-spacing: 2px;
}

.normal {
	border: none;
	background-color: #BF4722;
	color: white;
	font-size: medium;
	letter-spacing: 2px;
}