.cart-icon {
	display: flex;
	width:100px;
	height: 45px;
	align-items: center;
	justify-content: center;
	position: relative;
	cursor: pointer;

	.shopping-icon {
		width: 24px;
		height: 24px;
	}

	.item-count {
		font-weight: bold;
	}
}