.header {
	height: 70px;
	display: flex;
	justify-content: space-between;
	border-top: 5px solid #BF4722;
}

.search-container {
	padding: 15px;

	input {
		border: none;
		height: 35px;
		width: 200px;
		padding: 5px;
	}

	input:focus {
		height: 35px;
		width: 200px;
		padding: 5px;
	}
}

.options {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.option {
	padding: 10px 15px;
}