.nav-side-bar {
	display: flex;
	flex-direction: column;

	.nav-items {
		display: flex;
		flex-direction: column;
		gap: 5px;
		width: 100%;
	}

	.nav-items > li {
		list-style: none;
		text-decoration: none;
		border-top: 1px solid rgb(185, 121, 64);
		line-height: 3em;

		&:last-child {
			border-bottom: 1px solid rgb(185, 121, 64);
		}
	}
}