.product-page-contents {
	display: flex;
	flex-direction: row;
	gap: 16px;
	align-items: flex-start;

	.product-item > img {
	}

	.product-item-review {
		padding: 8px;
		display: flex;
		flex-direction: column;
		padding: 15px;
		gap: 35px;

		.product-item-review-buttons {
			display: flex;
			flex-direction: column;
			gap: 5px;
		}
	}
}