.product-page-contents {
	display: flex;
	flex-direction: row;
	gap: 16px;
	align-items: flex-start;

	.product-item > img {
	}

	.product-item-review {
		padding: 8px;
		display: flex;
		flex-direction: column;
		padding: 15px;
		gap: 35px;

		.product-item-review-header {}

		.product-item-review-buttons {
			display: flex;
			flex-direction: column;
			gap: 5px;

			.product-item-review-button {
				padding: 15px;
				cursor: pointer;
			}
			.primary {
				border: 2px solid #BF4722;
				color: #BF4722;
				background-color: white;
				font-size: medium;
				letter-spacing: 2px;
			}

			.normal {
				border: none;
				background-color: #BF4722;
				color: white;
				font-size: medium;
				letter-spacing: 2px;
			}
		}
	}
}